.DS_Store

/application/cache/*
!application/cache/index.html
!application/cache/.htaccess

/application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
 
 ##app specific .gitignore 

.wellknown/
/application/config
/application/core
/application/helpers
/application/hooks
/application/language
/application/logs
/application/models
/application/views/components/dumped.php
/extras/
/uploads/
.gitignore
*.sql
*.zip
