[Desktop Entry]
Encoding=UTF-8
Name=Link to #3 This is a trending post @brio . Politics & Leadership 11-12-2018 . 12k Views
Type=Link
URL=http://[::1]/talk/new_design?r
Icon=text-html
